<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<div class="main-contents">
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>
    <div class="message-icon" th:each="content : ${contents}">
        <div>
            <!--th:text=値を表示する役割。${content.id}"=Cotrollerから値を引き出す処理。
            content.idになにか値があれば表示する。なければ表示しない。-->
            ID : <span th:text="${content.id}"/>
        </div>
        <div class="text">
            投稿 : <span th:text="${content.content}"/>
        </div>
        <div class="delete-button">
            <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
                <input type="submit" value="削除">
                <div class="edit-button">
                    <a th:href="@{/edit/{id}(id=${content.id})}">
                        <input type="button" value="編集"></a>
                </div>
            </form>

            <div class="message-icon" th:each="comments : ${comments}">
                <div th:if="${content.id} == ${comments.reportId}"></div>
                コメント内容 :<span th:text="${comments.text}"/>
            </div>

            <form method="post" action="/commentAdd">
                <div class="form-area">
                    <label>投稿内容</label>
                    <textarea class="tweet-box" name="text" size="20" maxlength="200" ></textarea><br/>
                    <input type="submit" value="コメント"/>
                    <input type="hidden" name="reportId" th:value="${content.id}"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
